Busquedas: 
<form method='get' action='/quizes'>
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="text" name="search" id='demo-name' value="" placeholder="pregunta a buscar"/></li>
				<li><input type="submit" class='special' value="Buscar" /></li>
			</ul>
	</div>
</form>

<table>
<% for (var i in quizes){ %>
	<tr>
		<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><ul class='actions'>
			<li><a href="/quizes/<%= quizes[i].id %>/edit" class="button small">editar</a></li>
			<li><form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" class="button small" onclick="return confirm('borrar: <%= quizes[i].pregunta %>');">
					borrar				
				</button>
				</form>
			</li>
		</ul></td>
	</tr>
<% } %>
</table>
<a href='/quizes/new' class="button">Crear pregunta</a>