<h4>Pregunta: <%= quiz.pregunta %></h4>
<form method='get' action='/quizes/<%= quiz.id %>/answer'>
	<div class="row uniform">
			<ul class='actions'>
				<li><input type="text" name="respuesta" id='demo-name' value="" placeholder="Su respuesta"/></li>
				<li><input type="submit" class='special' value="Responder" /></li>
			</ul>
	</div>
</form>


<p><strong>Comentarios:</strong></p>
<ul class='actions'>
<%for(var index in quiz.Comments){%>
	<% if(quiz.Comments[index].publicado || session.user) { %>
		<li><%=quiz.Comments[index].texto%>
		<% if(session.user && !quiz.Comments[index].publicado){ %>
			<a class="button special fit small" href="/quizes/<%= quiz.id%>/comments/<%= quiz.Comments[index].id%>/publish">Publicar</a>
		<% } %></li>
	<%}%>
<%}%>
</ul>
<p><a href="/quizes/<%= quiz.id %>/comments/new" class="button">nuevo comentario</a></p>